.form {
    padding: 10vh 20vw 10vh 20vw;
    height: 100%;
    background-image: linear-gradient(rgb(210, 226, 250),white);
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 5px;
    padding-right: 5px;
}

.form-content {
    border-radius: 50px;
    overflow: hidden;
    padding: 0 0 0 0;
}

.form-header {
    background-color: #6294ff;
    padding: 40px 100px 20px 100px;
    margin: 0 0 0 0;
    top: 0;
}

.form-header-item {
    padding: 0 0 0 0;
    color: white;
}

.form-header-item .form-title {
    margin: 0 0 0 0;
    font-weight: 600;
}

.form-header-item .form-subtext {
    margin: 0 0 0 0;
    font-weight: lighter;
}

.form-body {
    height: fit-content;
    padding: 30px 60px 0 60px;
    margin: 0 0 0 0;
}

.form-verifying {
    margin: 20px 20px 20px 20px;
}

.form-verified {
    margin: 20px 20px 20px 20px;
    vertical-align: middle;
    text-align: center;
}

mat-icon {
    vertical-align: middle;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-left: -100px;
}

.icon-container .icon-sms {
    font-size: 100px;   
}

mat-form-field {
    width: 100%;
}

.choice {
    margin: 10px;
    justify-content: left;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.verify-button {
    background-color:rgb(37,150,255);
    width: 10vw;
    color: white;
}

.form-button {
    background-color:rgb(37,150,255);
    width: 80px;
    margin:10px;
    color: white;
}

.form-button-disabled {
    background-color:rgb(100, 100, 100);
    width: 80px;
    margin:10px;
    color: white;
    cursor: not-allowed;
}

.success mat-icon{
    font-size: 100px;
    margin-right: 75px;
}

.success h3 {
    margin-top: 75px;
}
