<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section class="header">
    <mat-toolbar color="primary" class="toolbar">
        <a mat-flat-button [disableRipple]="true" routerLink="/">
            <span><img data-aos="fade-right" data-aos-delay="200" src="assets/images/Rise_Logo.png" alt="logo"
                    class="logo"></span>
        </a>
        <span class="example-spacer"></span>
        <div class="header-items">
            <a data-aos="fade-left" data-aos-delay="300" mat-button routerLink="/home" class="active">Home</a>
            <a data-aos="fade-left" data-aos-delay="400" mat-button routerLink="/about-us"
                class="toolbar-buttons">About</a>
            <a data-aos="fade-left" data-aos-delay="500" mat-raised-button routerLink="/login"
                class="toolbar-buttons start-login">Login</a>
        </div>
    </mat-toolbar>
</section>
<section class="landing-main">
    <div class="landing-body container" fxLayout="column">
        <div class="row justify-content-center">
            <div class="col-lg-6 align-items-center">
                <div class="landing-title">
                    <h1 data-aos="fade-up">We get you vaccinated against COVID-19</h1>
                </div>
                <div class="landing-subtitle">
                    <p data-aos="fade-up">Organized dissemination and smart vaccine appointment systems. RiSE provides
                        an easy way
                        to vaccinate the entire country.</p>
                </div>
                <div class="landing-sub-menu row justify-content-start">
                    <div class="col-sm-5">
                        <button data-aos="fade-right" data-aos-delay="600" mat-raised-button routerLink="/register"
                            class="start-register">Register now</button>
                    </div>
                    <div class="col-sm-7">
                        <button data-aos="fade-left" data-aos-delay="700" mat-flat-button routerLink="/login"
                            class="start-dashboard">Medical
                            Dashboard</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-items-center">
                <img data-aos="fade-left" src="assets/images/health-vaccine-row.png" alt="Rise image"
                    class="side-image">
            </div>
        </div>
    </div>
</section>
<section class="landing-demo">
    <div class="container">
        <div class="row d-flex justify-content-center landing-demo-pretext">
            <p data-aos="fade-up">Easy, well-planned, and safe</p>
        </div>
        <div class="row d-flex justify-content-center landing-demo-title">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6" data-aos="fade-up">
                <h1>Our appointment system has got you covered!</h1>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
        <div class="row d-flex justify-content-center landing-demo-subtitle" data-aos="fade-up">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <p>Organized dissemination and smart vaccine appointment systems.<br> RiSE provides an
                    easy way to vaccinate the entire country.</p>
            </div>
            <div class="col-lg-3">

            </div>

        </div>
        <div class="row d-flex justify-content-center landing-demo-video">
            <iframe data-aos="fade-up" width="100%" height="600px"
                src="https://www.youtube.com/embed/T3oynoMGXqE"></iframe>
        </div>
    </div>
</section>
<section class="landing-info">
    <div class="container">
        <div class="row justify-content-center">
            <div data-aos="fade-right" class="col-lg-5 landing-info-left-card card-margin">
                <h1>Your privacy matters.</h1>
                <img src="assets/images/user_table_cut.png" alt="logo">
                <button mat-flat-button class="start-info">How we protect your identity <mat-icon aria-hidden="false">
                        arrow_forward</mat-icon></button>
            </div>
            <div data-aos="fade-left" class="col-lg-5 landing-info-right-card card-margin">
                <h1>We give you all the details.</h1>
                <p>Organized dissemination and smart vaccine appointment systems.
                    RiSE provides an easy way to vaccinate the entire country.</p>
                <button mat-flat-button class="start-info">Read about the vaccines <mat-icon aria-hidden="false">
                        arrow_forward</mat-icon></button>
            </div>
        </div>
    </div>
</section>
<section class="landing-register">
    <div class="container d-flex justify-content">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-6">
                <h1 data-aos="fade-up">Fill-up the COVID-19 vaccine application form now.</h1>
                <button data-aos="fade-up" mat-raised-button routerLink="/register">Apply now</button>
            </div>
            <div class="col-lg-4">
                <img data-aos="fade-left" src="assets/images/health-doctor-vaccine_w_crop.png" alt="logo">
            </div>
        </div>
    </div>
</section>
<section class="landing-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/images/Rise_Logo.png" alt="logo" class="logo-2"><br>
                <span class="footer-description">Organized dissemination and smart vaccine appointment systems. RiSE
                    provides an easy way to vaccinate the entire country.</span><br>
                <span class="footer-all-rights-reserved">&copy; 2021. All Rights Reserved. </span>
            </div>

            <div class="col-lg-2">
                <span class="footer-label">Company</span>
                <ul>
                    <li>About</li>
                    <li>Facebook Page</li>
                    <li>SMS Service</li>
                    <li>Apps</li>
                </ul>
            </div>

            <div class="col-lg-2">
                <span class="footer-label">Cities</span>
                <ul>
                    <li>Lapu-lapu</li>
                    <li>Cebu</li>
                    <li>Talisay</li>
                    <li>Mandaue</li>
                </ul>
            </div>

            <div class="col-lg-2">
                <span class="footer-label">Help</span>
                <ul>
                    <li>Help Center</li>
                    <li>Contact Support</li>
                    <li>Instructions</li>
                    <li>Tutorials</li>
                </ul>
            </div>
        </div>
    </div>
</section>