<div class="footer-home">
    <div class="row align-items-center">
        <div class="footer-main col-lg-6">
            <a class="logo"><img src="assets/logo-white.png"></a>
            <div class="subtext">
                <p>From applying for the Covid-19 vaccine to your vaccination session, our team at Rise aims to assist
                    you
                    on getting the vaccine as efficient as possible.</p>
                <p>&copy;RiSE 2021. All rights reserved</p>
            </div>
        </div>
        <div class="col-sm-2">
            <h3>Company</h3>
            <p>About</p>
            <p>Facebook Page</p>
            <p>SMS Service</p>
            <p>Apps</p>
        </div>
        <div class="col-sm-2">
            <h3>Cities</h3>
            <p>Lapu-Lapu</p>
            <p>Cebu</p>
            <p>Talisay</p>
            <p>Madaue</p>
        </div>
        <div class="col-sm-2">
            <h3>Help</h3>
            <p>Help Center</p>
            <p>Contact Support</p>
            <p>Instructions</p>
            <p>Tutorials</p>
        </div>
    </div>
</div>