body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: whitesmoke;
    height: fit-content;
  }
  
  
  app-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 3px 0 6px rgba(138, 138, 138, 0.24);
    height: 100%;
  }
  
  .dashboard-content {
    margin-left: 15vw;
    padding: 5vh 5vw 5vh 5vw;
  }