<!-- <div *ngFor="loaderService.isLoading | async" class="loader-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div> -->

<!-- <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile colspan="1" rowspan="2" class="left">
            <img src="assets/images/Rise_cover.png" alt="medical practictioner" id="sign-up-img">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" class="right"> -->

            <body>
                <mat-card class="form-content container">
                    <div class="form-header row">
                        <div class="form-header-item col-lg-11">
                            <h1 class="form-title">Registration Form</h1>
                        </div>
                        <div class="form-header-item col-lg-1 d-flex justify-content-end">
                            <a class="form-logo"><img src="assets/images/Rise_Logo_W_All.png"></a>
                        </div>
                    </div>
                    <div class="form-body row d-flex justify-content-center">
                        <mat-horizontal-stepper [linear]="false" #stepper fxLayout="column">
                            <ng-template matStepperIcon="edit">
                                <mat-icon>done</mat-icon>
                            </ng-template>
                            <mat-step [stepControl]="registerFormGroup" label="Registration Form">
                                <form [formGroup]="registerFormGroup" class="floating">
                                    <h2>Organization Info</h2>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3 d-flex justify-content-center">
                                                <mat-form-field appearance="outline" class="organization-name-input">
                                                    <mat-label>Organization Name</mat-label>
                                                    <input matInput placeholder="Organization Name" formControlName="organization"
                                                        required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3 d-flex justify-content-center">
                                                <mat-form-field appearance="outline" class="organization-email-input">
                                                    <mat-label>Organization Email</mat-label>
                                                    <input matInput placeholder="Organization Email"
                                                        formControlName="organization_email" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3 d-flex justify-content-center">
                                                <mat-form-field appearance="outline" class="organization-telecom-input">
                                                    <mat-label>Organization Telecom</mat-label>
                                                    <input matInput placeholder="Organization Telecom"
                                                        formControlName="organization_telecom" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3 d-flex justify-content-center">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Organization Region</mat-label>
                                                    <mat-select formControlName="organization_region" required>
                                                        <mat-option *ngFor="let region of regions" [value]="region.value">
                                                            {{region.title}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 d-flex justify-content-center">
                                                <mat-form-field appearance="outline" class="organization-address-input">
                                                    <mat-label>Organization Address</mat-label>
                                                    <input matInput placeholder="Organization Address"
                                                        formControlName="organization_address" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-2 d-flex justify-content-center">
                                                <mat-form-field appearance="outline" class="province-input">
                                                    <mat-label>Organization Province</mat-label>
                                                    <mat-select formControlName="organization_province" required>
                                                        <mat-option *ngFor="let province of provinces" [value]="province.value">
                                                            {{province.title}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-2 d-flex justify-content-center">
                                                <mat-form-field appearance="outline" class="municipality-input">
                                                    <mat-label>Organization Municipality</mat-label>
                                                    <input matInput placeholder="Municipality"
                                                        formControlName="organization_municipality" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-3 d-flex justify-content-center">
                                                <mat-form-field appearance="outline" class="barangay-input">
                                                    <mat-label>Barangay</mat-label>
                                                    <input matInput placeholder="Barangay" formControlName="organization_barangay"
                                                        required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <button mat-flat-button (click)="submit(stepper)" class="form-button">Submit</button>
                                </form>
                            </mat-step>
                            <mat-step label="Done">
                                <div class="success-body" *ngIf="username!=undefined&&password!=undefined">
                                    <div class="row d-flex justify-content-center">
                                        <h2>Account Information</h2>
                                    </div>
                                    <div class="container">
                                        <div class="row d-flex justify-content-center">
                                            <h3>Username:</h3>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <p class="subtitle">{{ username }}</p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row d-flex justify-content-center">
                                            <h3>Password:</h3>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <p class="subtitle">{{ password }}</p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row d-flex justify-content-center">
                                            <button mat-flat-button (click)="proceed()" class="form-button">Proceed</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                </mat-card>
            </body>
            
            <!-- </mat-grid-tile>
                </mat-grid-list> -->