<h1>LOGIN</h1>
<p>View your appointment status</p>

<mat-dialog-content>
    <mat-form-field appearance="legacy">
        <mat-label>Username</mat-label>
        <input matInput placeholder="First Name" formControlName="Username">
    </mat-form-field>

    <br/>

    <mat-form-field appearance="legacy">
        <input matInput placeholder="Password" formControlName="Password">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary">LOGIN</button>
</mat-dialog-actions>