<body>
    <section class="content">
        <app-header></app-header>
        <div class="landing-home container">
            <div class="landing-main row align-items-center">
                <div class="landing-title col-sm">
                    <div class="col">
                        <h1 class="title">We shall RiSE against Covid-19</h1>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <h3 class="subtext">From applying for the Covid-19 vaccine to your vaccination session, our
                            team at Rise aims to assist you on getting the vaccine as efficient as possible.</h3>
                    </div>
                    <div class="w-100"></div>
                    <div class="btn-menu col align-items-center">
                        <a routerLink="/form" routerLinkActive="active"><button mat-raised-button
                                class="btn-apply">Apply now</button></a>
                        <a class="btn-check">Check Status</a>
                    </div>
                </div>
                <div class="landing-img col-lg">
                    <img src="assets/fig1.png">
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <app-footer class="footer-content"></app-footer>
    </section>
</body>