<body>
    <app-sidebar></app-sidebar>
    <section class="dashboard-content">
        <h1 id="title">Eligibility Status</h1>
        <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="80px">
            <!--Pending Application Card-->
            <mat-grid-tile [colspan]="( cardLayout | async )?.pending_application__card.cols"
                [rowspan]="( cardLayout | async )?.pending_application__card.rows">
                <app-card title="Pending Application">
                    <h1 class="title">Pending Applications</h1>
                    <div class="applications-table">
                        <table mat-table [dataSource]="appsTable" #AppsTable="matSort" matSort class="mat-elevation-28">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                <td mat-cell *matCellDef="let element"><a (click)="getPI(element.id)">{{element.id}}</a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let element">{{element.status}}</td>
                            </ng-container>
                            <ng-container matColumnDef="reason">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
                                <td mat-cell *matCellDef="let element">{{element.reason}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="appsColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: appsColumns;"></tr>
                        </table>
                    </div>
                </app-card>
            </mat-grid-tile>

            <!--User Information Card-->
            <mat-grid-tile [colspan]="( cardLayout | async )?.user_information_card.cols"
                [rowspan]="( cardLayout | async )?.user_information_card.rows">
                <app-card title="Personal Info">
                    <h1 class="title">User Information of {{currentID}}</h1>

                    <div *ngFor="let info of userTable">
                        <div class="first-row-info">
                            <span class="name">{{info.first_name}}</span>
                            <span class="name">{{info.middle_name}}</span>
                            <span class="name">{{info.last_name}}</span>
                            <span class="vaccination-status">{{info.birthdate}}</span>
                        </div>

                        <div class="second-row-info p-2 mt-2 mr-3 d-flex justify-content-between">
                            <div class="d-flex flex-column">
                                <span class="heading">Birthdate</span>
                                <span class="info">{{info.birthdate}}</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="heading">Sex</span>
                                <span class="info">{{info.sex}}</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="heading">Occupation</span>
                                <span class="info">{{info.occupation}}</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="heading">Email</span>
                                <span class="info">
                                    <<{{info.email}}< /span>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="heading">Mobile Number</span>
                                <span class="info">{{info.mobile_number}}</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="heading">City</span>
                                <span class="info">{{info.city}}</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="heading">Barangay</span>
                                <span class="info">{{info.barangay}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5">
                        <h2 class="ml-2">Medical History</h2>
                        <span class="header">Questionnaire Response of {{currentID}}</span>
                        <div class="r-table">
                            <table mat-table [dataSource]="respsTable" #RespsTable="matSort" matSort
                                class="mat-elevation-28">
                                <ng-container matColumnDef="num">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                    <td mat-cell *matCellDef="let element">{{element.num}}</td>
                                </ng-container>
                                <ng-container matColumnDef="question">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Question </th>
                                    <td mat-cell *matCellDef="let element">{{element.question}}</td>
                                </ng-container>
                                <ng-container matColumnDef="answer">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Answer </th>
                                    <td mat-cell *matCellDef="let element">{{element.answer}}</td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="respsColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: respsColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </app-card>
            </mat-grid-tile>

            <!--Vaccination Sites Card-->
            <mat-grid-tile [colspan]="( cardLayout | async )?.review_card.cols"
                [rowspan]="( cardLayout | async )?.review_card.rows">
                <app-card title="Vaccination Sites">
                    <div *ngFor="let info of userTable">
                        <ul class="review">
                            <li>Is</li>
                            <li>
                                <{{info.first_name}} /li>
                            <li>eligible in receiving the vaccine?</li>
                        </ul>
                    </div>
                    <form [formGroup]="reviewFormGroup">
                        <div class="row">
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Status</mat-label>
                                    <mat-select formControlName="status" required>
                                        <mat-option *ngFor="let label of labels" [value]="label.value">
                                            {{label.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>Reason</mat-label>
                                    <input matInput placeholder="Reason" formControlName="reason" required>
                                </mat-form-field>
                            </div>
                        </div>
                </app-card>
            </mat-grid-tile>
        </mat-grid-list>
    </section>
</body>