body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: whitesmoke;
    height: 100vh;
  }
  
.dashboard-content {
    margin-left: 15vw;
    padding: 0 5vw 0 5vw;
}

.dashboard-content .container {
    padding: 0 0 0 0 !important;
}

.dashboard-content .container .row{
    width: 100%;
}

.es-table .row {
    margin: 5px 0 5px 0;
}

.es-table .row .col-lg-6 {
    padding: 0 0 0 0 !important;
}
  
h1 {
    font-family: 'mulish';
    font-weight: bold;
    font-family: 'mulish';
  }
  
  h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'mulish';
    color: rgb(121, 121, 121);
    margin: 0 0 0 0;
}

a{
    text-decoration: none;
    font-size: 50%;
    white-space: normal;
    font-weight: bold;
    font-family: 'mulish';
  }
  
  a:hover {
    background-color: rgb(224, 255, 252);
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  mat-nav-list {
    width: 60%;
  }
  
  img {
    width: 50px;
  }
  
  #sidenav-logo {
    width: 100px;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  
  mat-sidenav-container {
    height: 100vh;
  }
  
  .home-button {
    text-decoration: none;
    justify-content: center;
  }
  
  .form-button {
    background-color: rgb(37,150,255);
    color: #FAFAFA;
  }
  
  mat-sidenav-content {
    height: 300vh;
    background-image: #FAFAFA;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
  }
  
  .sidenav {
    width: 20%;
    box-shadow: 3px 0 6px rgba(138, 138, 138, 0.24);
    white-space: nowrap;
    min-height: 100%;
    display: flex;
    overflow-y:hidden;
    margin: 0%;
  }
  
  
  #description {
    margin-top: 30px;
    margin-left: 25%;
    color:rgb(150, 150, 150);
  }
  
  .admin-toolbar {
    margin-left: 10%;
    font-size: 105%;
  }
  
  
  /*navigation tab*/
  .divider {
    width: 130%;
    margin-top: 150%;
    margin-left: 18%;
  }

/*navigation tab*/
.divider {
    width: 125%;
    margin-top: 250%;
    margin-left: 30px;
}
/*Side-nav Content*/

#title {
    font-size: 35px;
    font-family: 'mulish';
}

/*inputs*/

.space {
    margin-left: 20px;
}
.search-bar {
    font-size: 10px;
}

.id {
    position: absolute;
    top: 32px;
    left: 75%;
}

form {
    margin-top: 20px;
}

mat-form-field {
    font-family: 'mulish';
    font-size: 12px;
    width: 135px;
    margin-right: 10px;
}

.reference-id-input {
    margin-left: 20px;
}

.manufacturer-input {
    width: 180px;
}

.time-input {
    width: 70px;
}

/*button*/
#button-area {
    position: absolute;
    right: 25px;
}
.submit-btn {
    font-family: 'mulish';
    width: 100px;
    height: 40px;
}
table {
    width: 100%;
}

/*info*/

.first-row-info {
    padding-top: 30px;
    padding-left: 10px;
}
.name {
    margin-right: 20px;
    font-size: 25px;
    font-family: 'mulish';
    font-weight: bold;
}
  
.vaccination-status {
    color: rgb(37,150,255);
    font-family: 'mulish';
    font-weight: bold;
    font-size: 16px;
}

.personal-info{
    list-style:none; 
    float:left;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.heading {
    text-transform: uppercase;
    font-family: 'mulish';
    color: rgb(192, 192, 192);
}

.info {
    font-family: 'mulish';
}

ul li:nth-child(5){clear:both;}
ul li h1 a{text-decoration:none;}

h3 {
    font-family: 'mulish';
    font-weight: bold;
    color: rgb(121, 121, 121);
    margin: 0 0 0 0;
}
h4 {
    font-family: 'mulish';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: rgb(192, 192, 192);
}

.instructions {
    margin-top: -5px;
    margin-left: 10px;
}

.vaccination-address {
    color:  rgb(37,150,255);
    font-size: 14px;
}

.vaccination-address .row{
    width: inherit;
    display: flex;
    margin: 0 0 0 0;
}

.vaccination-address .row .col-lg-6, .col-lg-3, .col-lg-1{
    padding: 0 0 0 0;
}

.vaccination-address h4{
    margin: 0 0 0 0;
}

.vaccination-address p{
    margin: 0 0 0 0;
    bottom: 0;
}

.date-time {
    color:  rgb(37,150,255);
}

.date-time-container {
    display: flex;
}

.tag-1 {
    border-radius: 5px;
    font-family: 'mulish';
    text-transform: uppercase;
    white-space: inherit;
    font-size: 12px;
    padding: 2px 5px 2px 5px;
    cursor: default;
    color: white !important;
}

.tag-2 {
    border-radius: 5px;
    font-family: 'mulish';
    text-transform: uppercase;
    white-space: inherit;
    font-size: 12px;
    padding: 2px 5px 2px 5px;
    background-color: rgb(37,150,255) !important;
    color: white !important;
}

.reason {
    height: 100%;
    white-space: inherit;
    width: inherit;
    text-transform: uppercase;
    font-family: 'mulish';
    font-size: 12px;
    padding: 2px;
    line-height: normal;
    background-color: rgb(37,150,255) !important;
    color: white !important;
}

table {
    width: 95%;
}


/* animations */
.floating {   
    animation-name: floating; 
    animation-duration: 1.3s; 
    animation-iteration-count: 1; 
    animation-timing-function: ease-in-out; 
} 

@keyframes floating { 
    0% { transform: translate(0,  60px); } 
    50%  { transform: translate(0, 0px); } 
    100%   { transform: translate(0, -0px); }     
} 