<body>

    <!-- <div *ngFor="loaderService.isLoading | async" class="loader-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div> -->

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile class="left">
            <img src="assets/images/Rise_cover.png" alt="medical practictioner" id="sign-up-img">
        </mat-grid-tile>

        <mat-grid-tile class="right">
            <mat-card class="floating">
                <div class="header-form">
                    <h2>Registration Form</h2>
                        <a routerLink="/">
                            <img src="assets/images/Rise_Logo_W_All.png" alt="Rise Logo" class="logo">
                        </a>
              
                </div>
                <form [formGroup]="registerFormGroup">
                    <p>Personal Info</p>
                    <hr>
                    <div class="form-row">
                        <div class="row">
                            <label class="input-label">First Name</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="first-name-input">
                                    <input matInput placeholder="First Name" formControlName="first_name" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Middle Name</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="middle-name-input">
                                    <input matInput placeholder="Middle Name" formControlName="middle_name" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Last name</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="last-name-input">
                                    <input matInput placeholder="Last Name" formControlName="last_name" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="row">
                            <label class="input-label">Birthdate</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="birthdate-input">
                                    <input matInput placeholder="Birthdate" formControlName="birthdate" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Sex</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="sex-input">
                                    <mat-select formControlName="sex" required>
                                        <mat-option *ngFor="let sex of sex" [value]="sex.value">
                                          {{sex.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Occupation</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="occupation-input">
                                    <input matInput placeholder="Occupation" formControlName="occupation" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">License Number</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="license-number-input">
                                    <input matInput placeholder="License Number" formControlName="license_number" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="row">
                            <label class="input-label">Email</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="email-input">
                                    <input matInput placeholder="Email" formControlName="email" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Mobile Number</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="mobile-number-input">
                                    <input matInput placeholder="Mobile Number" formControlName="mobile_number" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <p>Organization Info</p>
                    <hr>

                    <div class="form-row">
                        <div class="row">
                            <label class="input-label">Organization Name</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="organization-name-input">
                                    <input matInput placeholder="Organization Name" formControlName="org" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Organization Email</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="organization-email-input">
                                    <input matInput placeholder="Organization Email" formControlName="org_email" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Organization Telecom</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="organization-telecom-input">
                                    <input matInput placeholder="Organization Telecom" formControlName="org_telecom" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Organization Address</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="organization-address-input">
                                    <input matInput placeholder="Organization Address" formControlName="org_address" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Region</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline">
                                    <mat-select formControlName="region" required>
                                        <mat-option *ngFor="let region of regions" [value]="region.value">
                                          {{region.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Province</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="province-input">
                                    <mat-select formControlName="province" required>
                                        <mat-option *ngFor="let province of provinces" [value]="province.value">
                                          {{province.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Municipality</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="municipality-input">
                                    <input matInput placeholder="City" formControlName="municipality" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <label class="input-label">Barangay</label>
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="barangay-input">
                                    <input matInput placeholder="Barangay" formControlName="barangay" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <a routerLink="submit"><button mat-flat-button (click)="submit()" class="form-button">Submit</button></a>
                </form>
    
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</body>


